@{
    Layout="Shared/_Layout.cshtml";
}

<h1>@Model["band"].GetName()</h1>

<ul>
    @foreach(var venue in @Model["bandVenues"])
    {
        <li><a href="/venues/@venue.GetId()">@venue.GetName()</a></li>
    }
</ul>

<form action="/bands/@Model["band"].GetId()" method="post">
    <input type="hidden" name="band" value="@Model["band"].GetId()">
    <select name="venue">
        @foreach (var venue in @Model["venues"])
        {
            <option value="@venue.GetId()">@venue.GetName()</option>
        }
    </select>
    <button type="submit" name="button">Add Venue</button>
</form>

<p><a href="/bands">Back</a></p>
<p><a href="/">Home</a></p>
<p><a href="/venues">View All Venues</a></p>
